<h3 style="text-align:center;">My Logo Design</h3>

<div class="card border-dark">
  <div class="card-header border-primary">
    <h1 class="card-text" style="padding-left:25px;">Dear Visitors:</h1>
  </div>
  <div class="card-body  text-danger">
    <h2 style="padding-left:25px;">
      Hi, Welcome to view my logo design, for this webpage, I am working for
      serval companies to design their logos, and I passionately am willing to
      create any styles of the logo designs. Thank you for reading this article.
      And, please feel free to take a look of my arts!
      <br />
      Best;
      <br />
      Jaxon Ruans
    </h2>
  </div>
</div>

<div class="card border-dark">
  <div class="card-header border-primary">
    <h1 class="card-text text-dark" style="padding-left:25px;">View My Logo</h1>
  </div>
  <div class="card-body " style="text-align:center;">
    <app-portfolio-lightbox
      portfolioURL="/assets/shipping.json"
    ></app-portfolio-lightbox>
  </div>
</div>
